# Dependencies
/canopy-ui/node_modules

# Build output
/canopy-ui/dist
/canopy-ui/dist-electron
release/
.npm/

# Go backend executable
/canopy-core/bin/canopy-core
/canopy-core/bin/canopy-core.exe
/canopy-core/bin/canopy-core-linux
*.log

# SQLite Database Files
/canopy-core/CanopyData/
*.db
*.db-shm
*.db-wal

# Patching & Rollback Artifacts
*.cpatch
*.old
/canopy-core/backups/
/canopy-core/snapshots/

# macOS & IDE specific
.DS_Store
**/.DS_Store
.vscode/